.button {
  margin: 1vh 1vw;
  width: 24vw;
  height: 25vh;
  font-size: 32px;
  background-color: rgb(216, 228, 216);
}

.app {
  text-align: center;
}

.header {
  text-align: center;
}

.winnerText {
  text-align: center;
  font-size: 48px;
}

.restartButton {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 26vw;
    height: 25vw;
  }

  .app {
    position: fixed;
    top: 12.5vh;
  }
}
